[Desktop Entry]
Categories=AudioVideo;Player;GTK;
Comment=Play your video collection
Comment[ar]=شغل مجموعة الفيديو الخاصة بك
Comment[cs]=Přehrávejte svoji sbírku obrazových záznamů
Comment[da]=Afpil din videosamling
Comment[en]=Play your video collection
Comment[es]=Reproduce tu vídeo coleción
Comment[fr]=Lire votre collection de videos
Comment[pt_BR]=Reproduza tua coleção de vídeos
Comment[ru]=Просмотр видео
Comment[sk]=Prehrávajte svoju zbierku obrazových záznamom
Comment[sl]=Predvajajte svojo video zbirko
Comment[zh_CN]=为您播放本地及网络视频
Comment[zh_TW]=為您播放本機和網路的影片
Exec=deepin-media-player %U
GenericName=Media Player
Icon=deepin-media-player
MimeType=audio/ac3;audio/mp4;audio/mpeg;audio/vnd.rn-realaudio;audio/vorbis;audio/x-adpcm;audio/x-matroska;audio/x-mp2;audio/x-mp3;audio/x-ms-wma;audio/x-vorbis;audio/x-wav;audio/mpegurl;audio/x-mpegurl;audio/x-pn-realaudio;audio/x-scpls;video/avi;video/mp4;video/flv;video/mpeg;video/quicktime;video/vnd.rn-realvideo;video/x-matroska;video/x-ms-asf;video/x-msvideo;video/x-ms-wmv;video/x-ogm;video/x-theora;
Name=Deepin Media Player
Name[ar]=دي مشغل وسائط
Name[cs]=Deepin Media Player
Name[da]=Deepin Media Player
Name[en]=Deepin Media Player
Name[es]=Reproductor D
Name[fr]=Deepin Media Player
Name[pt_BR]=Deepin Media Player
Name[ru]=Deepin Media Player
Name[sk]=Deepin Media Player
Name[sl]=DPredvajalnik
Name[zh_CN]=深度影音
Name[zh_TW]=深度影音
StartupNotify=true
Type=Application
